<div class="col-10 offset-1 about">
  <h1> about splurty
  </h1>
  
  <p>
    This web app was built by <a target="blank" href="https://github.com/jsilvajr1/jsworkspace">Jorge Silva</a>
  </p>
  <br />
  <p>
    I am a current software engineer student at FireHose Project
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jorge.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jorge Silva</h2>
      <br />
      <p>
         Jorge is currently an automation technician in Chicago and a software engineer student at FireHose Project.
      </p>
    </div>
  </div>
  <br class="clear" />
  
<br />
<br />
<br />
<br />
  
</div>